.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.nav-item .nav-link{
    margin-left: 20px;
    font-size: 2.3vh;

}  
.navbar-back {
    z-index: 200;
   
    padding-top: 20px;
    padding-bottom: 20px;
  transition: all .5s;
    position: fixed;
    width: 100%;
}
.home {
    height: 100vh;
    color: white;
  
    background : linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url(intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  

}
#title__home {
    position: relative;
    top: 50%;
transform: translateY(-50%);    
}
#button_white {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#button_white:hover {
    color: rgba(29, 224, 153, 0.8);
    background: white;
    border: 2px solid white;
    border-radius: 20px;
    
}
body {
    font-family: "Open Sans", sans-serif;
    color: #111;
}
.about {
    color: #111;
    
    background: #eff5f5;
    z-index: 99;
}
.line {
    margin-top: 10px;
    height: 3px;
    width: 130px;
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
 
}
#relative_left {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.un_list {
    list-style-image: url(http://assets.css-tricks.ir/images/css-tricks.ir.png);
    
   
}
.icon {
    font-size: 50px;
    margin-bottom: 10px;
color:  #1dc8cd ;
}
.action {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-image: url(call-to-action-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#button_aqua {
    font-size: 18px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#button_aqua:hover {
    color: white;
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
    border-radius: 20px;
    
}
.fab {
    transition: all .2s;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #1dc8cd;
    color: white;
    padding: 10px;
    background-color: #1dc8cd;
    font-size: 20px;
}
.fab:hover {
    transition: all .2s;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #1dc8cd;
    color: #1dc8cd;
    padding: 5px;
    background-color: white;
    font-size: 25px;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
   
}

#button_contact {
    font-size: 18px;
    color: white;
    background: linear-gradient(45deg, #1de099, #1dc8cd);
 border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
