.home {
    background: linear-gradient(45deg, rgba(29,244,153,.8), rgba(29,200,205,0.8)), url(intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

  height: 150px;
  width: 110px;
  background-color: white;
 }

.carousel-control-prev-icon {
    border-radius: 2px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 150px;
    width: 110px;
    background-color: white;
}
.call {
    background-image: url(call-to-action-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
